.blurbs {
  position: relative;
  overflow: hidden;
  width: 90%;
  height: 90%;
  margin: auto;
}

.blurbs .well {
  text-align:center;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom: 0;
  font-size: 24px;
  margin-bottom: 0 !important;
}

.blurbs .well p {
    margin: 0;
    padding: 0;
}

.swap-animation.ng-enter, .swap-animation.ng-leave {
  transition: 1.5s linear all;
}

.swap-animation.ng-enter {
  top: 0px;
  left: -300px;
}
.swap-animation.ng-enter-active {
  top: 0px;
  left: 0px;
}
.swap-animation.ng-leave {
  opacity:1;
}
.swap-animation.ng-leave-active {
  opacity:0;
}
/*
.swap-animation.ng-enter, .swap-animation.ng-leave {
  transition: 0.5s linear all;
}
.swap-animation.ng-enter {
  left: -250px;
  top: 0;
}
.swap-animation.ng-enter-active {
  left: 0;
  top: 0;
}
.swap-animation.ng-leave {
  left : 0;
  top: 0;
}
.swap-animation.ng-leave-active {
  left: 250px;
  top: 0;
} */

.bg-0 {
    background-color: #f9d5e5;
    color: black;
}

.bg-1 {
    background-color: #eeac99;
    color: black;
}

.bg-2 {
    background-color: #e06377;
    color: white;
}

.bg-3 {
    background-color: #c83349;
    color: white;
}

.bg-4 {
    background-color: #5b9aa0;
    color: black;
}

.bg-5 {
    background-color: #d6d4e0;
    color: black;
}

.bg-6 {
    background-color: #b8a9c9;
    color: white;
}

.bg-7 {
    background-color: #622569;
    color: white;
}
