body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

#main {
	margin-bottom: 2.0em;
}

.nav, .pagination, .carousel, .panel-title a {
	cursor: pointer;
}

.view h1, h2, h3, h4 {
	font-family: "Roboto-Bold" !important;
}

.view h2 {
	font-size: 300% !important;
    margin-top: 0.2em !important;
}

.view h4 {
	margin-bottom: 1.2em;
}

.view h3 {
    margin-top: 15px !important;
}

nav {
	padding-left: 10px;
	padding-top: 12px;
}

#search-text {
	min-width: 300px;
}

#search-type {
	min-width: 200px;
}


td {
	vertical-align: middle !important;
	white-space: nowrap;
}

table.details td {
	white-space: normal;
}

.navbar-brand {
	height: 58px;
	font-family: "Roboto-Black" !important;
	font-weight: bold;
	font-size: 30px !important;
	letter-spacing: 0.2em;
	font-stretch: expanded;
	font-variant: small-caps;
	background-image: url("../img/icons/icon-128x128.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 96px;
	padding-left: 96px;
}

.horizontal-collapse {
	height: 70px;
}

.navbar-collapse.in {
	overflow-y: hidden;
}

.tab-content {
	padding: 12px;
}

.carousel-caption h4 {
	font-size: 32px;
	color: yellow;
}

.shadow {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.list-content {
	width: 80%;
}

.yellow-bg {
	background-color: #ffd966;
}

.bio {
	padding-left: 15px;
	padding-right: 15px;
	font-size: 115%;
}

.links .label {
	font-size: 110%;
	font-family: "Roboto-Bold";
	margin-right: 0.5em;
	cursor: pointer;
	line-height: 2.2;
	white-space: normal;
}

.list-content h2 {
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0.5em;
}

.search-result {
	margin-bottom: 1.4em;
	/* border-bottom: 2px dotted gray; */
}

.search-result h4 {
	margin-bottom: 0 !important;
	/* border-bottom: 2px dotted gray; */
}

#footer .container {
	margin-bottom: 0 !important;
}
