body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

h1, h2, h3, h4 {
	font-family: "Roboto" !important;
}

h4 {
	margin-bottom: 1.2em;
}

nav {
    padding-left: 10px;
}

.navbar-brand {
    font-family: "Roboto-Black" !important;
	font-weight: bold;
	font-size: 30px !important;
	letter-spacing: 0.2em;
	font-stretch: expanded;
	font-variant: small-caps;

    background-image: url("../img/owl-yellow.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 36px;
    padding-left: 42px;
}

.horizontal-collapse {
  height: 70px;
}

.navbar-collapse.in {
  overflow-y: hidden;
}

.tab-content {
    padding: 12px;
}

.carousel-caption h4 {
    font-size: 32px;
}

.textbox {
    overflow: scroll;
    padding-left: 10px;
    padding-right: 10px;
    height: 266px !important;
}
