body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

h1, h2, h3, h4 {
	font-family: "Roboto" !important;
}

h4 {
	margin-bottom: 1.2em;
}

nav {
    padding-left: 10px;
}

td {
	vertical-align: middle !important;
	white-space: nowrap;
}

.navbar-brand {
    font-family: "Roboto-Black" !important;
	font-weight: bold;
	font-size: 30px !important;
	letter-spacing: 0.2em;
	font-stretch: expanded;
	font-variant: small-caps;

    background-image: url("../img/owl-yellow.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 36px;
    padding-left: 42px;
}

.horizontal-collapse {
  height: 70px;
}

.navbar-collapse.in {
  overflow-y: hidden;
}

.tab-content {
    padding: 12px;
}

.carousel-caption h4 {
    font-size: 32px;
    color: yellow;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.yellow-bg {
	background-color: #ffd966;
}

.bio {
	padding-left: 15px;
	padding-right: 15px;
	font-size: 105%;
}

.links .label {
    font-size: 110%;
    font-family: "Roboto-Bold";
    margin-right: 0.5em;
    cursor: pointer;
    line-height: 2.2;
    white-space: normal;
}
