<h2>{{ album.name }}</h2>

<uib-tabset active="active">
    <uib-tab index="0" heading="Facts">
        <div class="media">
            <div class="media-left media-top">
                <nb-picture src="album.image" />
            </div>
            <div class="media-body">
                <table class="table table-striped">
                    <tr ng-show="album.artistName">
                        <td>Artist</td>
                        <td>
                            <a ng-show="artist.contributingArtists.primaryArtist" href="`/artists/{{artist.contributingArtists.primaryArtist}}">
                                {{ album.artistName }}
                            </a>
                            <span ng-hide="artist.contributingArtists.primaryArtist">
                                {{ album.artistName }}
                            </span>
                        </td>
                    </tr>
                    <tr ng-show="album.released">
                        <td>Released</td>
                        <td>{{ album.released | date : "longDate" }}</td>
                    </tr>
                    <tr ng-show="album.originallyReleased">
                        <td>Originally Released</td>
                        <td>{{ album.originallyReleased | date : "longDate" }}</td>
                    </tr>
                    <tr ng-show="album.label">
                        <td>Label</td>
                        <td>{{ album.label }}</td>
                    </tr>
                    <tr ng-show="album.copyright">
                        <td>Copyright</td>
                        <td>{{ album.copyright }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </uib-tab>
    <uib-tab index="1" heading="Tracks">
        <div class="media">
            <div class="media-left media-top">
                <nb-picture src="album.image" />
            </div>
            <div class="media-body">
                <div ng-repeat="disc in discs">
                    <nb-tracks tracks="disc" showdisc="discs.length > 1" discnum="$index + 1"/>
                </div>
            </div>
        </div>
    </uib-tab>
</uib-tabset>
