<div ng-controller="ArtistController">
	<div class="row" style="margin-bottom: 1.2em;">
		<div class="col-sm-12">
			<h2 style="margin: 0;">{{ artist.name }}</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
            <ul class="nav nav-pills">
              <li role="presentation"><a href="/artists/{{ artist.id }}/albums">Albums</a></li>
              <li role="presentation"><a href="/artists/{{ artist.id }}/tracks">Top Tracks</a></li>
            </ul>
		</div>
	</div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-10 media" style="margin-bottom: 24px;">
            <div class="media-left media-top">
                <nb-picture src="artist.image" />
            </div>
            <div class="media-body">
                <nb-blurbs ng-if="artist.blurbs.length > 0" blurbs="artist.blurbs" height="200"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container bio col-sm-12 col-md-12 col-lg-10" ng-repeat="bio in artist.bios">
            <p ng-bind-html="bio.bio"></p>
            -- {{ bio.author }}<span ng-show="bio.publishDate">, {{ bio.publishDate }}</span>
            <hr/>
        </div>
    </div>

    <h3>Links</h3>
    <div ng-if="genres" class="links row" style="margin-bottom: 24px;">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h4>Genres</h4>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <nb-labels data-links="genres"/>
        </div>
    </div>
    <div ng-if="followers" class="links row" style="margin-bottom: 24px;">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h4>Followers</h4>
        </div>
        <div class="col-sm-12 col-md-10 col-lg-12">
            <nb-links data-links="followers"/>
        </div>
    </div>
    <div ng-if="influences" class="links row" style="margin-bottom: 24px;">
        <div class="col-sm-12 col-md-10 col-lg-12">
            <h4>Influences</h4>
        </div>
        <div class="col-sm-12 col-md-10 col-lg-12">
            <nb-links data-links="influences"/>
        </div>
    </div>
	<div ng-if="contemporaries" class="links row" style="margin-bottom: 24px;">
        <div class="col-sm-12 col-md-10 col-lg-12">
            <h4>Contemporaries</h4>
        </div>
        <div class="col-sm-12 col-md-10 col-lg-12">
            <nb-links data-links="contemporaries"/>
        </div>
    </div>
	<div ng-if="related" class="links row" style="margin-bottom: 24px;">
        <div class="col-sm-12 col-md-10 col-lg-12">
            <h4>Related Projects</h4>
        </div>
        <div class="col-sm-12 col-md-10 col-lg-12">
            <nb-links data-links="related"/>
        </div>
    </div>
	<div ng-if="stations" class="links row" style="margin-bottom: 24px;">
        <div class="col-sm-12 col-md-10 col-lg-12">
            <h4>Stations</h4>
        </div>
        <div class="col-sm-12 col-md-10 col-lg-12">
            <nb-links data-links="stations"/>
        </div>
    </div>
</div>
