
  <div id="footer" class="navbar navbar-default">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-06 col-sm-12">
                <p class="navbar-text pull-left">© 2020 - Site built by mr. Sergey Krushinsky, 2020</p>
            </div>
            <div class="col-md-6 col-lg-06 col-sm-12">
                <a href="https://github.com/skrushinsky/Nightbird"
                class="navbar-btn btn-link btn pull-right"
                style="margin-top: 7px;">
                    <img src="/img/github.png" height="26" alt="Github" style="margin-bottom: 5px; margin-right: 6px">
                        Source code
                </a>
                <a href="https://www.facebook.com/NightbirdOnline/" class="navbar-btn btn-link btn pull-right">
                    <img src="/img/facebook.png" height="26" alt="Facebook" style="margin-bottom: 5px; margin-right: 6px">
                        Follow us at Facebook
                </a>
                <a href="/terms" class="navbar-btn btn-link btn pull-right" style="line-height: 26px;">
                    Terms and Conditions
                </a>
            </div>
        </div>
    </div>
  </div>
