<div ng-controller="StationController">
	<div class="row" style="margin-bottom: 1.2em;">
		<div class="col-sm-12">
			<h2 style="margin: 0;">{{ station.name }}</h2>
		</div>
	</div>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-10 media" style="margin-bottom: 24px;">
            <div ng-if station.links.largeImage class="media-left media-top">
                <nb-picture src="station.links.largeImage" />
            </div>
            <div class="media-body">
                <table class="table table-striped">
                    <tr>
                        <td>Name:</td>
                        <td>{{ station.name }}</td>
                    </tr>
                    <tr>
                        <td>Type:</td>
                        <td>{{ station.subType }}</td>
                    </tr>
                    <tr ng-show="station.author">
                        <td>Author:</td>
                        <td>{{ station.author }}</td>
                    </tr>
                    <tr ng-show="station.description">
                        <td>Description:</td>
                        <td>{{ station.description }}</td>
                    </tr>
                    <tr ng-show="artists.length > 0">
                        <td>Artists: </td>
                        <td>{{ station.artists }}</td>
                    </tr>
                    <tr ng-show="genres.length > 0">
                        <td>Genres: </td>
                        <td>
                            <nb-links links="genres"/>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 1.2em;">
		<div class="col-sm-12">
            <button class="btn btn-success" ng-click="play(station.id)">
                <span class="glyphicon glyphicon-play-circle"></span> Play
            </button>
		</div>
	</div>

</div>
