<div class="row" id="genre-page">
	<div class="col s12">
		<div class="row">
			<div class="col s12 m12">
				<h2 class="header">{{ genre.name }}</h2>
				<div class="card horizontal">
					<div class="card-image">
						<img src="{{ genre.image }}">
					</div>
					<div class="card-stacked" id="genre-description">
						<div class="card-content">
							<p>{{ genre.description }}.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col s12">
		<ul class="tabs">
			{% if genre.hasChildren %}
			<li class="tab col s3"><a class="active" href="#genre-children">Sub-genres</a></li>
			{% endif %}
			<li class="tab col s3"><a href="#genre-artists">Artists</a></li>
			<li class="tab col s3"><a href="#genre-albums">Albums</a></li>
			<li class="tab col s3"><a href="#genre-stations">Stations</a></li>
		</ul>
	</div>
	{% if genre.hasChildren %}
	<div id="genre-children" class="col s12">
		<div class="carousel">
			{% for child in genre.children %}
			<a class="carousel-item" href="#{{child.name}}!" data-id="{{child.id}}">
				<h5 class="center-align">{{child.name}}</h5>
				<img src="{{child.image}}">
			</a>
			{% endfor %}
		</div>
	</div>
	{% endif %}
	<div id="genre-artists" class="col s12">
		<div class="carousel">
			{% for artist in genre.artists %}
			<a class="carousel-item" href="#{{artist.name}}!" data-id="{{artist.id}}">
				<h5 class="center-align">{{artist.name}}</h5>
				<img src="{{artist.image}}">
			</a>
			{% endfor %}
		</div>
	</div>
	<div id="genre-albums" class="col s12">
		<div class="carousel">
			{% for album in genre.albums %}
			<a class="carousel-item" href="#{{album.name}}!" data-id="{{album.id}}">
				<h5 class="center-align">{{album.name}}</h5>
				<img src="{{album.image}}">
			</a>
			{% endfor %}
		</div>
	</div>
	<div id="genre-stations" class="col s12">
	</div>
</div>
<script>
$('.carousel').carousel({ numVisible: 7 });
$('.tabs').tabs();
</script>
